#title{
    text-align: center;
}

.wrapper{
    width: 350px;    
    margin: 0 auto;
}

.inner{
    width: 100px;
    height: 100px;
    display: inline-block;
    border: solid 1px black;    
}

.controls{
    width: 350px;    
    margin: 0 auto;
}

.primer{
    width: 100px;
    height: 100px;    
    border: solid 1px black;    
    margin: 0 auto;    
}

.info{
    background-color: darkgray;
    font-weight: 900;
    width: 100px;
    height: 20px;    
}